In [1]:
!ls -l

total 216
-rw-rw-r-- 1 adel adel    386 Sep 24 19:33 Day01.ipynb
-rw-rw-r-- 1 adel adel    294 Sep 24 19:05 README.md
-rw-rw-r-- 1 adel adel 209718 Sep 24 18:47 Syllabus+-+Python+for+DevOps.pdf

In [3]:
var = !ls -l
type(var)

IPython.utils.text.SList

In [4]:
var.fields

<bound method SList.fields of ['total 216', '-rw-rw-r-- 1 adel adel   1364 Sep 24 19:33 Day01.ipynb', '-rw-rw-r-- 1 adel adel    294 Sep 24 19:05 README.md', '-rw-rw-r-- 1 adel adel 209718 Sep 24 18:47 Syllabus+-+Python+for+DevOps.pdf']>

In [6]:
var.grep("data")

[]

In [7]:
too_many_decimals = 1.912345897

print("built in Python Round")
%timeit round(too_many_decimals, 2)

built in Python Round
394 ns ± 6.55 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [10]:
alias lscsv ls -l ./*.ipynb

In [11]:
lscsv

-rw-rw-r-- 1 adel adel 3207 Sep 24 19:35 ./Day01.ipynb

In [12]:
var1=1

In [13]:
who

os	 sys	 too_many_decimals	 var	 var1

In [14]:
too_many_decimals

1.912345897

In [15]:
%%writefile magic_stuff.py
import pandas as pd
df = pd.read_csv(
    "https://raw.githubusercontent.com/noahgift/food/master/data/features.en.openfoodfacts.org.products.csv")
df.drop(["Unnamed: 0", "exceeded", "g_sum", "energy_100g"], axis=1, inplace=True) #drop two rows we don't need
df = df.drop(df.index[[1,11877]]) #drop outlier
df.rename(index=str, columns={"reconstructed_energy": "energy_100g"}, inplace=True)
print(df.head())

Writing magic_stuff.py

In [16]:
cat magic_stuff.py

import pandas as pd
df = pd.read_csv(
    "https://raw.githubusercontent.com/noahgift/food/master/data/features.en.openfoodfacts.org.products.csv")
df.drop(["Unnamed: 0", "exceeded", "g_sum", "energy_100g"], axis=1, inplace=True) #drop two rows we don't need
df = df.drop(df.index[[1,11877]]) #drop outlier
df.rename(index=str, columns={"reconstructed_energy": "energy_100g"}, inplace=True)
print(df.head())

In [17]:
!python magic_stuff.py

   fat_100g  carbohydrates_100g  ...  energy_100g                         product
0     28.57               64.29  ...      2267.85  Banana Chips Sweetened (Whole)
2     57.14               17.86  ...      2835.70          Organic Salted Nut Mix
3     18.75               57.81  ...      1953.04                  Organic Muesli
4     36.67               36.67  ...      2336.91                   Zen Party Mix
5     18.18               60.00  ...      1976.37            Cinnamon Nut Granola

[5 rows x 7 columns]

In [18]:
!conda install -q pylint

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.

In [19]:
!pylint magic_stuff.py

************* Module magic_stuff
magic_stuff.py:3:0: C0301: Line too long (109/100) (line-too-long)
magic_stuff.py:4:0: C0301: Line too long (110/100) (line-too-long)
magic_stuff.py:1:0: C0114: Missing module docstring (missing-module-docstring)
magic_stuff.py:5:5: E1101: Instance of 'TextFileReader' has no 'drop' member (no-member)
magic_stuff.py:5:13: E1101: Instance of 'TextFileReader' has no 'index' member (no-member)

-------------------------------------
Your code has been rated at -11.67/10

In [ ]:
%%bash
uname -a
ls
ps

In [ ]:
!uname -a

In [22]:
%%python2
print "old school"

old school

In [23]:
%%html
<h1>Only The Best Tags and People</h>

In [ ]:
!pip install --upgrade -q gspread

In [ ]:
from google.colab import auth
auth.authenticate_user()

import gspread
from oauth2client.client import GoogleCredentials

gc = gspread.authorize(GoogleCredentials.get_application_default())

worksheet = gc.open('DevOp-Wonder').sheet1

# get_all_values gives a list of rows.
rows = worksheet.get_all_values()
print(rows)

# Convert to a DataFrame and render.
import pandas as pd
df = pd.DataFrame.from_records(rows)
df

In [ ]:
df.median()

In [ ]:
from google.colab import files
uploaded = files.upload()

In [27]:
!ls -l

total 228
-rw-rw-r-- 1 adel adel   9756 Sep 24 19:41 Day01.ipynb
-rw-rw-r-- 1 adel adel    408 Sep 24 19:36 magic_stuff.py
-rw-rw-r-- 1 adel adel    294 Sep 24 19:05 README.md
-rw-rw-r-- 1 adel adel 209718 Sep 24 18:47 Syllabus+-+Python+for+DevOps.pdf

In [ ]:
import pandas as pd
df = pd.read_csv("automl-tables_notebooks_census_income.csv")
df.head(2)

In [28]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/noahgift/sugar/master/data/education_sugar_cdc_2003.csv")
df.head()

,State,Employed,Not employed,Retired,<High school,High school,Some college,College graduate
0,Alaska,26.2 (23.6–28.9),32.1 (27.8–36.8),16.0 (12.6–20.2),47.1 (37.8–56.5),34.9 (31.1–38.9),24.2 (21.0–27.8),12.9 (10.5–15.7)
1,Arizona,33.0 (28.5–37.8),28.7 (23.5–34.5),13.8 (10.8–17.5),40.4 (30.9–50.7),36.5 (30.7–42.7),24.4 (19.9–29.4),14.6 (11.6–18.3)
2,California,22.9 (20.9–25.1),30.2 (27.1–33.4),15.0 (12.2–18.2),38.5 (34.2–43.0),29.9 (26.5–33.7),21.4 (18.8–24.2),11.5 (9.8–13.5)
3,Connecticut,18.9 (17.1–20.9),24.3 (20.8–28.2),15.0 (12.7–17.7),27.8 (22.4–33.9),26.9 (23.7–30.3),19.9 (17.2–23.0),10.2 (8.7–12.0)
4,District of Columbia,18.5 (15.7–21.7),34.6 (29.5–40.1),18.5 (15.3–22.1),45.6 (36.4–55.2),39.0 (33.1–45.2),28.9 (23.4–35.0),8.4 (7.0–10.1)

In [29]:
df.describe()

,State,Employed,Not employed,Retired,<High school,High school,Some college,College graduate
count,24,24,24,24,24,24,24,24
unique,24,24,24,24,24,24,23,24
top,Alaska,26.2 (23.6–28.9),32.1 (27.8–36.8),16.0 (12.6–20.2),47.1 (37.8–56.5),34.9 (31.1–38.9),24.2 (21.0–27.8),12.9 (10.5–15.7)
freq,1,1,1,1,1,1,2,1

In [30]:
Use_Python = False #@param ["False", "True"] {type:"raw"}

In [31]:
print(f"You select it is {Use_Python} you use Python")

You select it is False you use Python

In [32]:
!python -c "import os;print(os.listdir())"

['.git', 'magic_stuff.py', 'README.md', 'Syllabus+-+Python+for+DevOps.pdf', 'Day01.ipynb']

In [33]:
!ls -l

total 236
-rw-rw-r-- 1 adel adel  19763 Sep 24 19:43 Day01.ipynb
-rw-rw-r-- 1 adel adel    408 Sep 24 19:36 magic_stuff.py
-rw-rw-r-- 1 adel adel    294 Sep 24 19:05 README.md
-rw-rw-r-- 1 adel adel 209718 Sep 24 18:47 Syllabus+-+Python+for+DevOps.pdf

In [34]:
!conda install -q boto3

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: /home/adel/miniconda3/envs/ML_DS

  added / updated specs:
    - boto3


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    boto3-1.18.21              |     pyhd3eb1b0_0          70 KB
    botocore-1.21.21           |     pyhd3eb1b0_1         3.8 MB
    jmespath-0.10.0            |     pyhd3eb1b0_0          22 KB
    s3transfer-0.5.0           |     pyhd3eb1b0_0          57 KB
    ------------------------------------------------------------
                                           Total:         4.0 MB

The following NEW packages will be INSTALLED:

  boto3              pkgs/main/noarch::boto3-1.18.21-pyhd3eb1b0_0
  botocore           pkgs/main/noarch::botocore-1.21.21-pyhd3eb1b0_1
  jmespath           pkgs/main/noarch::jmespath-0.10.0-pyhd3eb1b0_0
  s3transfer         pkgs/main/noarch::s3transfer-0.5.0-pyhd3eb1b0_0


Proceed ([y]/n)? ^C

CondaSystemExit:
Operation aborted.  Exiting.

In [ ]:
#this is how you capture input to a program
import sys;sys.argv

In [36]:
print("Hello world")

Hello world

In [37]:
variable = "armbar"
variable

'armbar'

In [38]:
attack_one = "kimura"
attack_two = "arm triangle"
print("In Brazilian Jiu Jitsu a common attack is a:", attack_one)
print("Another common attack is a:", attack_two)

In Brazilian Jiu Jitsu a common attack is a: kimura
Another common attack is a: arm triangle

In [39]:
1+1

2

In [40]:
"arm" + " bar"+" 4"+" morestuff " + "lemon"

'arm bar 4 morestuff lemon'

In [41]:
belts = ["white", "blue", "purple", "brown", "black"]
for belt in belts:
    if "black" in belt:
        print("The belt I want to be is:", belt)
    else:
        print("This is not the belt I want to end up at:", belt)

This is not the belt I want to end up at: white
This is not the belt I want to end up at: blue
This is not the belt I want to end up at: purple
This is not the belt I want to end up at: brown
The belt I want to be is: black

In [42]:
my_string = "this is a string I am using this time"
#my_string.split()
#my_string.upper()
#my_string.title()
#my_string.count("this")

In [43]:
my_string.title()

'This Is A String I Am Using This Time'

In [44]:
my_string.capitalize()

'This is a string i am using this time'

In [45]:
my_string.isnumeric()

False

In [46]:
print(my_string)
var2 = my_string.swapcase()
print(var2)
print(var2.swapcase())

this is a string I am using this time
THIS IS A STRING i AM USING THIS TIME
this is a string I am using this time

In [47]:
basic_string = "Brazilian Jiu Jitsu"

In [48]:
#split on spaces (default)
basic_string.split()

['Brazilian', 'Jiu', 'Jitsu']

In [49]:
result = basic_string.split()
len(result)

3

In [50]:
#split on hyphen
string_with_hyphen = "Brazilian-Jiu-Jitsu"
string_with_hyphen.split("-")

['Brazilian', 'Jiu', 'Jitsu']

In [51]:
#split on comma
string_with_hyphen = "Brazilian,Jiu,Jitsu"
string_with_hyphen.split(",")

['Brazilian', 'Jiu', 'Jitsu']

In [52]:
basic_string.capitalize()

'Brazilian jiu jitsu'

In [53]:
#Get the last character
basic_string[-1:]

'u'

In [54]:
len(basic_string[2:])

17

In [55]:
#Get length of string
len(basic_string)

19

In [56]:
basic_string[-18:]

'razilian Jiu Jitsu'

In [57]:
basic_string + " is my favorite Martial Art"

'Brazilian Jiu Jitsu is my favorite Martial Art'

In [58]:
items = ["-",1,2,3]
for item in items:
  basic_string += str(item)
basic_string

'Brazilian Jiu Jitsu-123'

In [59]:
"this is a string format: %s" % "wow"

'this is a string format: wow'

In [60]:
f'I love practicing my favorite Martial Art, {basic_string}'

'I love practicing my favorite Martial Art, Brazilian Jiu Jitsu-123'

In [61]:
f"""
This phrase is multiple sentenances long.
There phrase can be formatted like simpler sentances,
for example, I can still talk about my favorite Martial Art {basic_string}
"""

'\nThis phrase is multiple sentenances long.\nThere phrase can be formatted like simpler sentances,\nfor example, I can still talk about my favorite Martial Art Brazilian Jiu Jitsu-123\n'

In [62]:
f"""
This phrase is multiple sentenances long.
There phrase can be formatted like simpler sentances,
for example, I can still talk about my favorite Martial Art {basic_string}
""".replace("\n", " ")

' This phrase is multiple sentenances long. There phrase can be formatted like simpler sentances, for example, I can still talk about my favorite Martial Art Brazilian Jiu Jitsu-123 '

In [63]:
steps = (1+1)-1
print(f"Two Steps Forward:  One Step Back = {steps}")

Two Steps Forward:  One Step Back = 1

In [64]:
body_fat_percentage = 0.10
weight = 200
fat_total = body_fat_percentage * weight
print(f"I weight 200lbs, and {fat_total}lbs of that is fat")

I weight 200lbs, and 20.0lbs of that is fat

In [65]:
from decimal import (Decimal, getcontext)

getcontext().prec = 5
Decimal(1)/Decimal(3)

Decimal('0.33333')

In [66]:
import math
math.pow(2,4)

16.0

In [67]:
2**4

16

In [68]:
2*3

6

In [69]:
number = 100
num_type = type(number).__name__
print(f"{number} is type [{num_type}]")

100 is type [int]

In [70]:
number = float(100)
num_type = type(number).__name__
print(f"{number} is type [{num_type}]")

100.0 is type [float]

In [71]:
num2 = 100.20
type(num2)

float

In [72]:
class Foo:pass
f = Foo()

In [73]:
type(f)

__main__.Foo

In [74]:
too_many_decimals = 1.912345897
round(too_many_decimals, 6)
#get more info
#round?

1.912346

In [75]:
import numpy as np
np.round(too_many_decimals, 6)

1.912346

In [76]:
import pandas as pd
df = pd.DataFrame([too_many_decimals], columns=["A"], index=["first"])
df.round(2)

          A
first  1.91

In [77]:
print("built in Python Round")
%timeit round(too_many_decimals, 2)

print("numpy round")
%timeit np.round(too_many_decimals, 2)

print("Pandas DataFrame round")
%timeit df.round(2)

built in Python Round
414 ns ± 11.7 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)
numpy round
17.5 µs ± 171 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)
Pandas DataFrame round
667 µs ± 24 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [78]:
#bad_dictionary = {[2]:"one"}

In [79]:
new_dictionary = {"one":1}

In [80]:
submissions = {"armbar": "upper_body", 
               "arm_triangle": "upper_body", 
               "heel_hook": "lower_body", 
               "knee_bar": "lower_body"}
#type(submissions)
#submissions.items?
submissions

{'armbar': 'upper_body',
 'arm_triangle': 'upper_body',
 'heel_hook': 'lower_body',
 'knee_bar': 'lower_body'}

In [81]:
new_dict =dict(upper_body="lower_body")
new_dict

{'upper_body': 'lower_body'}

In [82]:
#submissions.items?

In [83]:
for submission, body_part in submissions.items():
    print(f"The {submission} is an attack on the {body_part}")

The armbar is an attack on the upper_body
The arm_triangle is an attack on the upper_body
The heel_hook is an attack on the lower_body
The knee_bar is an attack on the lower_body

In [84]:
for _, body_parts in submissions.items():
  print(body_parts)

upper_body
upper_body
lower_body
lower_body

In [85]:
print(f"These are lower_body submission attacks in Brazilian Jiu Jitsu:")
for submission, body_part in submissions.items():
    if body_part == "lower_body":
        print(submission)

These are lower_body submission attacks in Brazilian Jiu Jitsu:
heel_hook
knee_bar

In [86]:
print(f"These are keys: {submissions.keys()}")
print(f"These are values: {submissions.values()}")

These are keys: dict_keys(['armbar', 'arm_triangle', 'heel_hook', 'knee_bar'])
These are values: dict_values(['upper_body', 'upper_body', 'lower_body', 'lower_body'])

In [87]:
if "armbar" in submissions:
  print("found key")

found key

In [88]:
print("timing key membership")
%timeit if "armbar" in submissions: pass

timing key membership
39.7 ns ± 0.973 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

In [89]:
list_of_bjj_positions = ["mount", "full-guard", "half-guard", 
                         "turtle", "side-control", "rear-mount", 
                         "knee-on-belly", "north-south", "open-guard"]

In [90]:
bjj_dominant_positions = list()
bjj_dominant_positions.append("side-control")
bjj_dominant_positions.append("mount")
bjj_dominant_positions

['side-control', 'mount']

In [91]:
guards = "full, half, open"
guard_list = [f"{guard}-guard" for guard in guards.split(",")]
guard_list

['full-guard', ' half-guard', ' open-guard']

In [92]:
for position in list_of_bjj_positions:
    if "open" in position: #explore on your own "guard"
        print(position)

open-guard

In [93]:
print(f'First position: {list_of_bjj_positions[:1]}')
print(f'Last position: {list_of_bjj_positions[-1:]}')
print(f'First three positions: {list_of_bjj_positions[0:3]}')

First position: ['mount']
Last position: ['open-guard']
First three positions: ['mount', 'full-guard', 'half-guard']

In [94]:
bjj_position_matrix = [
    ["dominant", "top-mount", "back-mount", "side-control"],
    ["neutral", "open-guard", "full-guard", "standing"],
    ["weak", "turtle", "bottom-back-mount", "bottom-mount"]
]
list(zip(*bjj_position_matrix))

[('dominant', 'neutral', 'weak'),
 ('top-mount', 'open-guard', 'turtle'),
 ('back-mount', 'full-guard', 'bottom-back-mount'),
 ('side-control', 'standing', 'bottom-mount')]

In [95]:
zip?

Init signature: zip(self, /, *args, **kwargs)
Docstring:
zip(*iterables) --> A zip object yielding tuples until an input is exhausted.

   >>> list(zip('abcdefg', range(3), range(4)))
   [('a', 0, 0), ('b', 1, 1), ('c', 2, 2)]

The zip object yields n-length tuples, where n is the number of iterables
passed as positional arguments to zip().  The i-th element in every tuple
comes from the i-th iterable argument to zip().  This continues until the
shortest argument is exhausted.
Type:           type
Subclasses:

In [96]:
unique_attacks = set(("armbar","armbar", "armbar", "kimura", "kimura", "heel hook"))
print(type(unique_attacks))
unique_attacks

<class 'set'>

{'armbar', 'heel hook', 'kimura'}

In [97]:
attacks_set_one = set(("armbar", "kimura", "heal-hook"))
attacks_set_two = set(("toe-hold", "knee-bar", "heal-hook"))
unique_set_one_attacks = attacks_set_one - attacks_set_two
print(f"Unique Set One Attacks {unique_set_one_attacks}")

Unique Set One Attacks {'kimura', 'armbar'}

In [98]:
good = {'one': 'two'}

In [99]:
# A list is mutable
var = ["two"]
badone = {var:"two"}

TypeError: unhashable type: 'list'

In [100]:
# be careful about mutating objects
class Foo:pass
foo = Foo()

bad_two = {foo: "two"}

In [101]:
# try out why this is weird

def fun():pass
bad_three = {fun:"one"}

In [102]:
def favorite_martial_art():
    return "bjj"

In [103]:
print(favorite_martial_art())
# This is the same output
my_variable = "bjj"
my_variable

bjj

'bjj'

In [104]:
def myfunc():pass

In [105]:
res = myfunc()
print(res)
#result = myfunc()
#print(result)

None

In [106]:
def favorite_martial_art_with_docstring():
    """This function returns the name of my favorite martial art
    This is more
    This is even more
    return "string"
    """
    return "bjj"

In [107]:
favorite_martial_art_with_docstring.__doc__
#favorite_martial_art_with_docstring?

'This function returns the name of my favorite martial art\n    This is more\n    This is even more\n    return "string"\n    '

In [108]:
#favorite_martial_art_with_docstring?

In [109]:
def practice(times):
    print(f"I like to practice {times} times a day")

In [110]:
practice(2)

I like to practice 2 times a day

In [111]:
practice(3)

I like to practice 3 times a day

In [112]:
def practice(times, technique, duration):
    print(f"I like to practice {technique}, {times} times a day, for {duration} minutes")

In [113]:
practice(3, "piano", 45)

I like to practice piano, 3 times a day, for 45 minutes

In [114]:
#Order is important, now the entire is incorrect and prints out nonsense
practice("piano", 7,60)

I like to practice 7, piano times a day, for 60 minutes

In [115]:
def practice(times=2, technique="python", duration=60):
    print(f"I like to practice {technique}, {times} times a day, for {duration} minutes")

In [116]:
practice()

I like to practice python, 2 times a day, for 60 minutes

In [117]:
practice(duration=90, times=4)

I like to practice python, 4 times a day, for 90 minutes

In [118]:
def attack_techniques(**kwargs):
    """This accepts any number of keyword arguments"""
    
    for name, attack in kwargs.items():
        print(f"This is an attack I would like to practice: {attack}")

In [119]:
attack_techniques(arm_attack="kimura", 
                  leg_attack="straight_ankle_lock", 
                  neck_attack="arm_triangle",
                 body_attack="charge")

This is an attack I would like to practice: kimura
This is an attack I would like to practice: straight_ankle_lock
This is an attack I would like to practice: arm_triangle
This is an attack I would like to practice: charge

In [120]:
#I also can pass as many things as I wants
attack_techniques(arm_attack="kimura", 
                  leg_attack="straight_ankle_lock", 
                  neck_attach="arm_triangle",
                  attack4="rear nake choke", attack5="key lock")

This is an attack I would like to practice: kimura
This is an attack I would like to practice: straight_ankle_lock
This is an attack I would like to practice: arm_triangle
This is an attack I would like to practice: rear nake choke
This is an attack I would like to practice: key lock

In [121]:
attacks = {"arm_attack":"kimura", 
           "leg_attack":"straight_ankle_lock", 
           "neck_attach":"arm_triangle"}

In [122]:
attack_techniques(**attacks)

This is an attack I would like to practice: kimura
This is an attack I would like to practice: straight_ankle_lock
This is an attack I would like to practice: arm_triangle

In [123]:
def attack_location(technique):
    """Return the location of an attack"""
    
    attacks = {"kimura": "arm_attack",
           "straight_ankle_lock":"leg_attack", 
           "arm_triangle":"neck_attach"}
    if technique in attacks:
        return attacks[technique]
    return "Unknown"

In [124]:
attack_location("kimura")

'arm_attack'

In [125]:
attack_location("bear hug")

'Unknown'

In [126]:
def multiple_attacks(attack_location_function):
    """Takes a function that categorizes attacks and returns location"""
    
    new_attacks_list = ["rear_naked_choke", "americana", "kimura"]
    for attack in new_attacks_list:
        attack_location = attack_location_function(attack)
        print(f"The location of attack {attack} is {attack_location}")

In [127]:
multiple_attacks(attack_location)

The location of attack rear_naked_choke is Unknown
The location of attack americana is Unknown
The location of attack kimura is arm_attack

In [128]:
#nonlocal cannot modify this variable
#lower_body_counter=5
def attack_counter():
    """Counts number of attacks on part of body"""
    lower_body_counter = 0
    upper_body_counter = 0
    #print(lower_body_counter)
    def attack_filter(attack):
        nonlocal lower_body_counter
        nonlocal upper_body_counter
        attacks = {"kimura": "upper_body",
           "straight_ankle_lock":"lower_body", 
           "arm_triangle":"upper_body",
            "keylock": "upper_body",
            "knee_bar": "lower_body"}
        if attack in attacks:
            if attacks[attack] == "upper_body":
                upper_body_counter +=1
            if attacks[attack] == "lower_body":
                lower_body_counter +=1
        print(f"Upper Body Attacks {upper_body_counter}, Lower Body Attacks {lower_body_counter}")
    return attack_filter

In [129]:
fight = attack_counter()

In [130]:
type(fight)

function

In [131]:
fight("kimura")

Upper Body Attacks 1, Lower Body Attacks 0

In [132]:
fight("knee_bar")

Upper Body Attacks 1, Lower Body Attacks 1

In [133]:
fight("keylock")

Upper Body Attacks 2, Lower Body Attacks 1

In [134]:
from functools import partial

def multiple_attacks(attack_one, attack_two):
  """Performs two attacks"""
  
  print(f"First Attack {attack_one}")
  print(f"Second Attack {attack_two}")
  
attack_this = partial(multiple_attacks, "kimura")
type(attack_this)

functools.partial

In [135]:
attack_this("knee-bar")

First Attack kimura
Second Attack knee-bar

In [136]:
multiple_attacks("Darce Choke", "Bicep Slicer")

First Attack Darce Choke
Second Attack Bicep Slicer

In [137]:
def lazy_return_random_attacks():
    """Yield attacks each time"""
    import random
    attacks = {"kimura": "upper_body",
           "straight_ankle_lock":"lower_body", 
           "arm_triangle":"upper_body",
            "keylock": "upper_body",
            "knee_bar": "lower_body"}
    while True:
        random_attack = random.choices(list(attacks.keys()))
        yield random_attack

In [138]:
attack = lazy_return_random_attacks()

In [139]:
type(attack)

generator

In [140]:
for _ in range(6):
    print(next(attack))

['kimura']
['knee_bar']
['straight_ankle_lock']
['kimura']
['arm_triangle']
['kimura']

In [141]:
def randomized_speed_attack_decorator(function):
    """Randomizes the speed of attacks"""
    
    import time
    import random
    
    def wrapper_func(*args, **kwargs):
        sleep_time = random.randint(0,3)
        print(f"Attacking after {sleep_time} seconds")
        time.sleep(sleep_time)
        return function(*args, **kwargs)
    return wrapper_func

In [142]:
@randomized_speed_attack_decorator
def lazy_return_random_attacks():
    """Yield attacks each time"""
    import random
    attacks = {"kimura": "upper_body",
           "straight_ankle_lock":"lower_body", 
           "arm_triangle":"upper_body",
            "keylock": "upper_body",
            "knee_bar": "lower_body"}
    while True:
        random_attack = random.choices(list(attacks.keys()))
        yield random_attack

In [144]:
for _ in range(5):
    print(next(lazy_return_random_attacks()))

Attacking after 2 seconds
['keylock']
Attacking after 3 seconds
['knee_bar']
Attacking after 0 seconds
['knee_bar']
Attacking after 3 seconds
['knee_bar']
Attacking after 2 seconds
['arm_triangle']

In [145]:
from functools import wraps
from time import time

def timing(f):
    @wraps(f)
    def wrap(*args, **kw):
        ts = time()
        result = f(*args, **kw)
        te = time()
        print(f"fun: {f.__name__}, args: [{args}, {kw}] took: {te-ts} sec")
        return result
    return wrap

In [146]:
@timing
def some_attacks(foo):
  print(f"this was passed in: {foo}")
  attack = lazy_return_random_attacks()
  for _ in range(5):
    print(next(attack))
    
some_attacks("bar")

this was passed in: bar
Attacking after 3 seconds
['kimura']
['arm_triangle']
['arm_triangle']
['knee_bar']
['keylock']
fun: some_attacks, args: [('bar',), {}] took: 3.001236915588379 sec

In [147]:
class AttackFinder:
  """Finds the attack location"""
  
  
  def __init__(self, attack):
    self.attack = attack
  
  def __call__(self):
    attacks = {"kimura": "upper_body",
           "straight_ankle_lock":"lower_body", 
           "arm_triangle":"upper_body",
            "keylock": "upper_body",
            "knee_bar": "lower_body"}
    if not self.attack in attacks:
      return "unknown location"
    return attacks[self.attack]

In [148]:
my_attack = AttackFinder("kimura")
my_attack()

'upper_body'

In [149]:
import pandas as pd
iris = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')
iris.head(3)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa

In [150]:
iris.shape

(150, 5)

In [151]:
iris['rounded_sepal_length'] = iris[['sepal_length']].apply(pd.Series.round)
iris.head()

,sepal_length,sepal_width,petal_length,petal_width,species,rounded_sepal_length
0,5.1,3.5,1.4,0.2,setosa,5.0
1,4.9,3.0,1.4,0.2,setosa,5.0
2,4.7,3.2,1.3,0.2,setosa,5.0
3,4.6,3.1,1.5,0.2,setosa,5.0
4,5.0,3.6,1.4,0.2,setosa,5.0

In [152]:
iris.shape

(150, 6)

In [153]:
def multiply_by_100(x):
    """Multiplies by 100"""
    
    res = x * 100
    #print(f"This was passed in {x}, and this result was generated {res}")
    return res
  
  
iris['100x_sepal_length'] = iris[['sepal_length']].apply(multiply_by_100)
iris.head()

,sepal_length,sepal_width,petal_length,petal_width,species,rounded_sepal_length,100x_sepal_length
0,5.1,3.5,1.4,0.2,setosa,5.0,510.0
1,4.9,3.0,1.4,0.2,setosa,5.0,490.0
2,4.7,3.2,1.3,0.2,setosa,5.0,470.0
3,4.6,3.1,1.5,0.2,setosa,5.0,460.0
4,5.0,3.6,1.4,0.2,setosa,5.0,500.0

In [154]:
iris["new_column"] = iris[['sepal_length']]
iris.head()

,sepal_length,sepal_width,petal_length,petal_width,species,rounded_sepal_length,100x_sepal_length,new_column
0,5.1,3.5,1.4,0.2,setosa,5.0,510.0,5.1
1,4.9,3.0,1.4,0.2,setosa,5.0,490.0,4.9
2,4.7,3.2,1.3,0.2,setosa,5.0,470.0,4.7
3,4.6,3.1,1.5,0.2,setosa,5.0,460.0,4.6
4,5.0,3.6,1.4,0.2,setosa,5.0,500.0,5.0

In [155]:
iris.groupby("species").max()

,sepal_length,sepal_width,petal_length,petal_width,rounded_sepal_length,100x_sepal_length,new_column
species,,,,,,,
setosa,5.8,4.4,1.9,0.6,6.0,580.0,5.8
versicolor,7.0,3.4,5.1,1.8,7.0,700.0,7.0
virginica,7.9,3.8,6.9,2.5,8.0,790.0,7.9

In [156]:
#iris.apply(pd.Series.round, axis=1)

In [157]:
#def sepal_category(x):
  
#  if x == 4:
#  return "big"

#iris['sepal_category'] = iris[['sepal_width']].apply(sepal_category)
#iris.head()

In [158]:
#example of a smarter function
def smart_multiply_by_100(x):
  if x > 5:
    return 1
  return x

inputs = [1,2,6,10]
for input in inputs:
  print(smart_multiply_by_100(input))

1
2
1
1

In [159]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [160]:
func = lambda x: x**2
func(4)

16

In [161]:
def regular_func(x):
  return x**2

regular_func(4)

16